<div class="breadcrumbs-wrapper">
	<div class="container">
		<div class="breadcrumbs"><a href="/" class="openlink" title="Back to the home page">Trang chủ</a> <i class="fa fa-caret-right"></i> <span>Tổng hợp đơn hàng</span></div>
	</div>
</div>

<div class="container">
	<div class="row mb-5">
		<div class="col-12 col-lg-2 pt-3 bg-w mb-3 mb-lg-0">
			<!-- <h4>Đơn hàng</h4> -->
			<ul class="nav flex-column dashboard-list" role="tablist">
				<li><a href="javascript:void(0);" class="nav-link active">Tất Cả</a></li>
				<li><a href="javascript:void(0);" class="nav-link">Mới</a></li>
				<li><a href="javascript:void(0);" class="nav-link">Đã Hủy</a></li>
			</ul>
		</div>
		<div class="col-12 col-lg-10 px-0 px-lg-3">
			<div class="product-order tab-pane fade active show bg-w px-0 py-0 px-lg-4 py-lg-4">
                <h3 class="d-none d-lg-block">Danh sách đơn hàng</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="alt-font">
                            <tr>
                                <th>STT</th>
                                <th>Tên</th>
                                <th>Ngày đặt</th>
                                <th>Loại</th>
                                <th>Xem</th>
                            </tr>
                        </thead>
                        <tbody class="order-list"></tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>
</div>