<div id="page-content">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="http://nheheu.com" title="Back to the home page">Trang chủ</a> <span aria-hidden="true">|</span> <span>Chính sách bảo hành</span></div>
        </div>
    </div>
    <div class="container">
    	<p class="h1 text-center" style="padding: 20px 0;">Chính sách bảo hành</p>

        <h3>1. Hoàn tiền 100% giá trị đơn hàng</h3>
        <p>Trong 7 ngày đầu nếu sản phẩm phát sinh lỗi, bạn sẽ được hoàn tiền 100% giá trị đơn hàng</p>

        <h3>2. Đổi trả miễn phí</h3>
        <p>Trong 30 ngày đầu nếu sản phẩm phát sinh lỗi, bạn sẽ được đổi trả sang 1 sản phẩm mới khác</p>

        <h3>3. Hóa đơn điện tử</h3>
    	<p>Tất cả sản phẩm của Nhẹ hều đều được bảo hành thông qua hóa đơn điện tử</p>

    	<h3>4. Kiểm tra chất lượng</h3>
    	<p>Tất cả sản phẩm của Nhẹ hều đều được kiểm tra kỹ trước khi nhập, và được nhân viên kiểm tra 1 lần nữa trước khi giao hàng.</p>

    	<h3>5. Uy tín hàng đầu</h3>
    	<p>Với phương châm lấy chữ Tín đặt lên hàng đầu, tất cả các sản phẩm của Nhẹ hều đều được hỗ trợ tận tình</p>
    	<p>Nếu có bất cứ thắc mắc gì về sản phẩm, đừng ngần ngại liên hệ ngay với chúng tôi</p>
    </div>
    <!--End Body Container-->
</div>