<div class="breadcrumbs-wrapper">
	<div class="container">
		<div class="breadcrumbs"><a href="/" class="openlink" title="Back to the home page">Trang chủ</a> <i class="fa fa-caret-right"></i> <span>Giỏ hàng</span></div>
	</div>
</div>

<!-- <div class="page-title">
	<h1>Giỏ hàng</h1>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col bg-w pt-3">
			<div class="cart style2">
				<table>
					<thead class="cart__row cart__header border-bottom">
						<tr>
							<th colspan="2" class="text-center">Sản phẩm</th>
							<th class="text-center">Đơn giá</th>
							<th class="text-center">Số lượng</th>
							<th class="text-center">Thành tiền</th>
							<th class="action">&nbsp;</th>
						</tr>
					</thead>
					<tbody class="cart__list"></tbody>
					<tfoot>
						<tr>
							<!-- <td colspan="3" class="text-left"><a href="https://trangtrihomex/" class="btn btn--link btn--small cart-continue openlink"><i class="anm anm-chevron-cir-left"></i> Quay lại xem hàng</a></td>
							<td colspan="3" class="text-right"></td> -->
						</tr>
					</tfoot>
				</table>
				<div class="row pt-4 pb-3 d-md-none">
					<div class="col-6">
						<h5>Tổng tiền</h5>
					</div>
					<div class="col-6">
						<h5 class="totalMoney text-right"></h5>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-4 checkout-wrapper bg-w pt-4">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-8 mb-4 cart-col">
					<h5>Thông tin nhận hàng</h5>
					<div class="row">
						<div class="col-12 col-sm-12 col-md-6">
							<div class="form-group">
								<label>Họ và tên <span class="required-f">*</span></label>
								<input type="text" class="cart_input-name" name="coupon" placeholder="Nguyễn Văn A" autocomplete="off">
							</div>
							<div class="form-group">
								<label>Số điện thoại <span class="required-f">*</span></label>
								<input type="text" class="cart_input-phone" name="coupon" placeholder="09xxxxxxx" autocomplete="off">
							</div>
							<div class="form-group">
								<label>Địa chỉ <span class="required-f">*</span></label>
								<input type="text" class="cart_input-address" name="coupon" placeholder="Địa chỉ nhận hàng" autocomplete="false">
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6">
							<div class="form-group">
								<label>Hình thức thanh toán <span class="required-f">*</span></label>
								<div class="form-group select-wrapper">
									<select class="cart_input-payment">
			                            <option value="0">Thanh toán khi nhận hàng</option>
			                            <option value="1">Chuyển khoản Ngân hàng/MoMo</option>
			                        </select>
		                    	</div>
							</div>
							<div class="form-group">
								<label>Ghi chú đơn hàng</label>
								<textarea style="height: 118px;" class="cart_input-note" placeholder="Thông tin bổ sung nếu có. Ví dụ ngày giờ địa chỉ nhận hàng"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
					<div class="solid-border">
						<!-- <div class="row">
                            <div class="form-group col-12" style="padding-right: 125px;">
                                <input type="text" name="giftcode" class="accccc" value="" placeholder="Mã giảm giá (nếu có)" autocomplete="false">
                                <input type="button" class="btn btn--secondary btn-appendGiftcode" value="Áp dụng">
                            </div>
                        </div> -->
						<div class="row border-bottom pb-2 pt-2 d-none d-md-block">
							<span class="col-6 cart__subtotal-title"><strong>Tổng tiền</strong></span>
							<span class="col-6 cart__subtotal-title cart__subtotal text-right"><span class="money totalMoney">_ đ</span></span>
						</div>
						<button id="cartCheckout" class="btn btn--small-wide checkout">Đặt hàng ngay</button>
						<div class="cart_notify-wrap">
							<div class="alert alert-warning cart_notify-inner" role="alert">
								A simple warning alert—check it out!
							</div>
						</div>
						<div class="paymnet-img"><img src="https://trangtrihomex/assets/images/payment-img.jpg" alt="Payment"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>