<div class="home-slider">
    <div class="item active" style="background-image: url(http://localhost:8888/shop/nheheu.github/assets/images/home-slider/1.jpg)">
        <div class="home-slider-title text-center">
            <span class="h1">Chuyên đồ trang trí nhà cửa, quà tặng đẹp giá rẻ</span>
            <br><br><br>
        </div>
    </div>
    <div class="item" style="background-image: url(http://localhost:8888/shop/nheheu.github/assets/images/home-slider/2.jpg); background-position: center bottom;">
        <div class="home-slider-title text-center">
            <span class="h1">Không gian sống xanh, nâng cao sức khỏe</span>
            <br><br><br>
        </div>
    </div>
    <div class="item" style="background-image: url(http://localhost:8888/shop/nheheu.github/assets/images/home-slider/3.jpg);">
        <div class="home-slider-title text-center">
            <span class="h1">Sản phẩm hiện đại, nâng cao chất lượng cuộc sống</span>
            <br><br><br>
        </div>
    </div>
</div>

<div class="store-info style1 store-info-section small-pd d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="display-table store-info style2">
                    <li class="display-table-cell">
                        <i class="anm anm-recommended" aria-hidden="true"></i><h5>Đẹp & Rẻ</h5> <span class="sub-text"> <span>là tiêu chí hàng đầu của Nhẹ hều</span> </span>
                    </li>
                    <li class="display-table-cell">
                        <i class="anm anm-money" aria-hidden="true"></i><h5>Đổi trả miễn phí</h5> <span class="sub-text"> <span>trong 30 ngày trải nghiệm</span> </span>
                    </li>
                    <li class="display-table-cell">
                        <i class="anm anm-free-delivery" aria-hidden="true"></i><h5>Giao hàng toàn quốc</h5> <span class="sub-text"><span>chỉ từ 1 ngày làm việc</span></span>
                    </li>
                    <li class="display-table-cell">
                        <i class="anm anm-phone-24" aria-hidden="true"></i><h5>Hỗ trợ 24/7</h5> <span class="sub-text"> <span>bất cứ khi nào bạn cần</span></span>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
            <div class="product-load-more">
                <div class="grid-products grid--view-items">
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>