<div id="page-content">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="http://trangtrihomex.com" title="Back to the home page">Trang chủ</a> <span aria-hidden="true">|</span> <span>Hướng dẫn mua hàng</span></div>
        </div>
    </div>
    <div class="container">
    	<p class="h1 text-center" style="padding: 20px 0;">Hướng dẫn mua hàng</p>
        <p class="h3">Bước 1. Chọn sản phẩm muốn mua</p>
        <p>Chọn số lượng sản phẩm và màu sắc nếu có</p>
        <p>Chọn <b>Thêm vào giỏ hàng</b> để thêm hàng vào giỏ và bạn có thể tiếp tục xem thêm các sản phẩm khác</p>
        <p>Hoặc bấm nút <b>Mua ngay</b> để tiến hành đặt mua ngay sản phẩm</p>
        <p class="h3">Bước 2. Đặt hàng</p>
        <p>Bấm vào biểu tượng giỏ hàng để xem các sản phẩm bạn đã chọn</p>
        <img src="http://trangtrihomex.com/assets/images/huong-dan/2.png">
        <p>Nhập thông tin của bạn( người nhận hàng ) và bấm nút <b>Đặt hàng ngay</b></p>
        <p class="h3">Bước 3. Xong</p>
        <p>Vậy là bạn đã đặt hàng xong. Chúng tôi sẽ liên hệ lại với bạn qua số điện thoại đặt hàng để xác nhận lại. Sau đó đóng gói hàng cẩn thận và giao đến tận tay bạn</p>
    </div>
    <!--End Body Container-->
</div>