<div class="breadcrumbs-wrapper">
	<div class="container">
		<div class="breadcrumbs"><a href="/" class="openlink" title="Back to the home page">Trang chủ</a> <i class="fa fa-caret-right"></i> <span>Đơn hàng của tôi</span></div>
	</div>
</div>

<div class="container">
	<div class="row mb-5">
		<div class="col-xl-2 col-lg-2 col-md-12 md-margin-20px-bottom">
			<ul class="nav flex-column dashboard-list" role="tablist"></ul>
		</div>
		<div class="col-xs-10 col-lg-10 col-md-12">
			<!-- Tab panes -->
			<div class="tab-content dashboard-content padding-30px-all md-padding-15px-all" style=""></div>
			<!-- End Tab panes -->
			<br>
			<p class="text-left"><a href="https://vndecor.github.io/" class="btn btn--link btn--small cart-continue openlink"><i class="anm anm-chevron-cir-left"></i> Trở về trang chủ</a></p>
		</div>
	</div>
</div>