<div class="breadcrumbs-wrapper">
	<div class="container">
		<div class="breadcrumbs"><a href="/" class="openlink" title="Back to the home page">Trang chủ</a> <i class="fa fa-caret-right"></i> <span>Đơn hàng của tôi</span></div>
	</div>
</div>

<div class="container">
	<div class="row mb-5">
		<div class="col-12 col-lg-2 pt-4 bg-w mb-3 mb-lg-0">
			<h4>Đơn hàng</h4>
			<ul class="nav flex-column dashboard-list" role="tablist"></ul>
		</div>
		<div class="col-12 col-lg-10 px-0 px-lg-3">
			<!-- Tab panes -->
			<div class="tab-content dashboard-content bg-w"></div>
			<!-- End Tab panes -->
			<!-- <p class="text-left"><a href="http://nheheu.com/" class="btn btn--link btn--small cart-continue openlink"><i class="anm anm-chevron-cir-left"></i> Trở về trang chủ</a></p> -->
		</div>
	</div>
</div>