<div id="page-content">
    <div class="breadcrumbs-wrapper">
        <div class="container">
            <div class="breadcrumbs"><a href="/" title="Back to the home page">Trang chủ</a> <span aria-hidden="true">|</span> <span>Các hình thức thanh toán</span></div>
        </div>
    </div>
    <div class="container">
    	<p class="h1 text-center" style="padding: 20px 0;">Các hình thức thanh toán</p>

        <h3>1. Thanh toán khi nhận hàng</h3>
        <p>Đây là hình thức nhận hàng rồi thanh toán bằng tiền mặt.</p>
        <p>Sau khi đơn đặt hàng của bạn đã được xác nhận, chúng tôi sẽ chuyển hàng đến địa chỉ của bạn.</p>
        <p>Khi nhận hàng, bạn cần chuẩn bị trước số tiền bằng giá trị đơn hàng của bạn để thanh toán với bên giao hàng.</p>

        <h3>2. Chuyển khoản ngân hàng</h3>
        <p>Nếu bạn không muốn dùng tiền mặt, bạn có thể thanh toán bằng chuyển khoản ngân hàng.</p>
        <p>Sau khi đặt hàng, bạn sẽ thực hiện chuyển khoản và đơn hàng sẽ được chuyển đến địa chỉ của bạn.</p>
        <p>Vui lòng thanh toán đơn hàng của bạn qua tài khoản sau:</p>
        <ul class="list-items">
            <li>Ngân hàng: VP Bank</li>
            <li>Số tài khoản: <span class="btn-copy" data-text="145843324">145 843 324</span></li>
            <li>Chi nhánh: Trần Duy Hưng</li>
            <li>Chủ tài khoản: <span class="btn-copy" data-text="Đào Minh Hòa">Đào Minh Hòa</span></li>
        </ul>
        <h3>3. Chuyển khoản Momo</h3>
        <p>Hình thức tiện lợi khác đó là thanh toán qua ứng dụng Momo.</p>
        <p>Sau khi đặt hàng, bạn sẽ thực hiện thanh toán đơn hàng bằng ứng dụng Momo, sau đó đơn hàng sẽ được chuyển đến địa chỉ của bạn</p>
        <p>Thông tin chuyển khoản:</p>
        <ul class="list-items">
            <li>Sđt: <span class="btn-copy" data-text="0967681300">09 6768 1300</span></li>
            <li>Chủ tài khoản: <span class="btn-copy" data-text="Đào Minh Hòa">Đào Minh Hòa</span></li>
        </ul>
        <h3>Kết luận</h3>
        <p>Hãy chọn 1 hình thức thanh toán phù hợp và tiện lợi nhất cho bạn.</p>
        <p>Mua sắm tại Nhẹ hều, mọi thứ thật đơn giản và nhanh chóng.</p>
    </div>
    <!--End Body Container-->
</div>