<div class="breadcrumbs-wrapper">
	<div class="container">
    	<div class="breadcrumbs"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-12 product-detail-wrapper bg-w py-3 mb-3">
            <div class="product-detail-container product-single-style1">
                <div class="product-single">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                            <div class="product-details-img product-horizontal-style mx-n3 mx-lg-0 mt-n3 mt-lg-0">
                                <div class="zoompro-wrap product-zoom-right">
                                    <div class="cover-product-details-img"></div>

                                    <div class="zoompro-span prlightbox d-none d-lg-block">
                                        <img class="zoompro" alt=""/>
                                    </div>

                                    <div class="pswp slide-mobile" tabindex="-1" role="dialog" aria-hidden="true">
                                        <!-- Background of PhotoSwipe. 
                                             It's a separate element, as animating opacity is faster than rgba(). -->
                                        <div class="pswp__bg"></div>
                                        <!-- Slides wrapper with overflow:hidden. -->
                                        <div class="pswp__scroll-wrap">
                                            <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                                            <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                                            <div class="pswp__container">
                                                <div class="pswp__item"></div>
                                                <div class="pswp__item"></div>
                                                <div class="pswp__item"></div>
                                            </div>
                                            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                            <div class="pswp__ui pswp__ui--hidden">
                                                <div class="pswp__top-bar">
                                                    <!--  Controls are self-explanatory. Order can be changed. -->
                                                    <div class="pswp__counter"></div>
                                                    <button class="pswp__button pswp__button--close hide" title="Close (Esc)"></button>
                                                    <button class="pswp__button pswp__button--share hide" title="Share"></button>
                                                    <button class="pswp__button pswp__button--fs hide" title="Toggle fullscreen"></button>
                                                    <button class="pswp__button pswp__button--zoom hide" title="Zoom in/out"></button>

                                                    <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                                                    <!-- element will get class pswp__preloader--active when preloader is running -->

                                                    <div class="pswp__preloader">
                                                        <div class="pswp__preloader__icn">
                                                            <div class="pswp__preloader__cut">
                                                                <div class="pswp__preloader__donut"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                    <div class="pswp__share-tooltip"></div>
                                                </div>
                                                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                                                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                                                <div class="pswp__caption">
                                                    <div class="pswp__caption__center"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="product-labels"><span class="lbl pr-label1">new</span></div> -->
                                    <div class="product-buttons">
                                        <a href="https://www.youtube.com/watch?v=93A2jOW5Mog" class="mfpbox mfp-with-anim btn popup-video" title="View Video">
                                            <i class="icon anm anm-video2" aria-hidden="true"></i>
                                            <span class="tooltip-label">Xem Video</span>
                                        </a>
                                    </div>
                                    <div class="product-liked tooltip bs-tooltip-top btn-likeThisProduct" role="tooltip">
                                        <div class="arrow"></div>
                                        <div class="tooltip-inner"><i class="icon anm anm-heart"></i> <span class="num">0</span></div>
                                    </div>
                                    <i class="fa fa-hand-pointer-o d-md-none help-swap" aria-hidden="true"></i>
                                </div>
                                <div class="product-thumb product-horizontal-thumb">
                                    <div class="product-thumb-style1 slick-slider d-none d-lg-block"></div>
                                    <div class="product-thumb-style1 product-horizontal-thumb-mobile d-lg-none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                            <div class="product-single__meta">
                                <h1 class="product-single__title"></h1>
                                <div class="prInfoRow">
                                    <div class="product-review"><a class="reviewLink" href="#spr-reviews"><span class="spr-badge-caption"></span></a></div>
                                    <div class="product-sku">Mã hàng: <span class="variant-sku"></span></div>
                                    <div class="product-stock"> <span class="instock ">Còn hàng</span> <span class="outstock hide">Hết hàng</span> </div>
                                </div>
                                <br>
                                <p class="product-single__price product-single__price-product-template">
                                    <s class="comparePrice-product-template"><span class="money"></span></s>
                                    <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                        <span class="money"></span>
                                    </span>
                                    <span class="discount-badge">
                                        <span class="off">-<span></span>%</span>
                                    </span>
                                    <button class="btn-likeThisProduct">
                                        <i class="icon anm anm-heart-r ml-n4 ml-lg-n2 mt-1 mt-lg-0"></i> <span class="d-none d-lg-inline">Bạn thích sản phẩm này</span>
                                    </button>
                                </p>
                            </div>
                            <br>

                            <div class="product-protected-mobile d-md-none">
                                <ul class="addressFooter">
                                    <li><i class="icon anm anm-shield" style="font-size: 21px;color: #FF5722;"></i><p><span style="color: #447900;">HomeX Đảm Bảo</span><br>7 ngày Trả Hàng / Hoàn Tiền</p></li>
                                    <li><i class="icon anm anm-truck-line" style="font-size: 20px;"></i><p><span>Miễn phí vận chuyển</span><br>Miễn phí vận chuyển khi đơn đạt giá trị tối thiểu</p></li>
                                </ul>
                            </div>

                            <div class="product-protected-mobile mb-select-item d-md-none">
                                <b>Chọn loại hàng</b> &nbsp;&nbsp;<p class="num-count" style="display: inline;"></p>
                                <i class="anm anm-chevron-r-right" style="position: absolute;right: 0;top: 3px;"></i>
                                <div class="mb-types d-lg-none py-2">
                                    <!-- <img src="https://daohoa.github.io/nheheu/imgs/10894696656_2143466348.jpg">
                                    <div class="last-item">
                                        <img src="https://daohoa.github.io/nheheu/imgs/10864629043_2143466348.jpg">
                                        <span>+3</span>
                                    </div> -->
                                </div>
                            </div>

                            <div class="mfp-link product-form product-form-product-template hidedropdown">
                                <div class="product-selected-wrap d-md-none animated fadeIn">
                                    <img class="product-selected-image">
                                    <p class="product-single__price product-single__price-product-template">
                                        <s class="comparePrice-product-template"><span class="money"></span></s>
                                        <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                            <span class="money"></span>
                                        </span>
                                        <span class="discount-badge">
                                            <span class="off">-<span></span>%</span>
                                        </span>
                                    </p>
                                    <a href="javascript:void(0);" class="btn-close-product-selected-wrap"><i class="anm anm-times-r"></i></a>
                                </div>

                                <div class="product-need-select d-lg-none animated fadeIn invisible">
                                    <span style="position: absolute;top: 30px;left: 73px;font-size: 28px;">Chọn 1 loại</span>
                                    <img src="https://trangtrihomex/assets/images/muiten.jpg" style="position: absolute;top: 50px;left: 30px;height: 56px; width: auto;">
                                </div>

                                <div class="swatch clearfix swatch-0 option1" data-option-index="1">
                                    <div class="product-form__item product-form__item--type">
                                        <label class="label"><span>Chọn loại hàng:</span><span class="required">&nbsp;&nbsp;</span><span class="slVariant"></span></label>
                                        <hr class="d-md-none"/>
                                        <label class="label px-0 d-none">Chọn loại hàng</label>
                                    </div>
                                </div>

                                <div class="product-action clearfix">
                                    <div class="product-form__item--quantity">
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
                                                <input type="text" name="quantity" value="1" class="product-form__input qty" readonly>
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-form__item--submit">
                                        <button class="btn product-form__cart-submit btn-addToCartMain"><span>Thêm vào giỏ</span></button>
                                        <div class="buy-it-btn d-md-none">
                                            <button type="button" class="btn btn-buyNow">Mua ngay</button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="buy-it-btn d-none d-md-block">
                                        <button type="button" class="btn btn-buyNow">Mua ngay</button>
                                    </div>
                                </div>
                            </div>

                            <div class="cover-product-form-product-template"></div>

                            <!-- <div class="contact-details px-4 py-3 mb-2 d-none d-lg-block">
                                <strong>trangtrihomex.com</strong> chuyên sản phẩm đồ trang trí đẹp được nhiều người ưa chuộng. Giao hàng toàn quốc.
                            </div> -->
                            <div class="mobile-buyit d-md-none">
                                <div class="row mx-0">
                                    <div class="btn-chat col-2 px-0">
                                        <i class="anm anm-comment-al"></i>Chat
                                    </div>
                                    <div class="btn-addtocart col-4 px-0">
                                        <i class="anm anm-cart-l"></i>Thêm vào Giỏ
                                    </div>
                                    <div class="btn-buynow col-6 px-0">Mua ngay</div>
                                </div>
                            </div>
                            <div class="share_social_list_btn mt-3">
                                <h5>Bạn cần hỗ trợ?</h5>
                                <a href="https://zalo.me/0967681300" target="_blank" rel="nofollow">
                                    <i class="icon-zalo-circle"></i><p class="share_text">Chat Zalo</p>
                                </a>
                                <a href="javascript:void(0);" class="share_social_btn" rel="nofollow">
                                    <i class="icon-facebook-circle"></i><p class="share_text">Chat Facebook</p>
                                </a>
                                <a href="https://zalo.me/0967681300" target="_blank" class="share_social_btn share_social_event" rel="nofollow">
                                    <i class="icon-chat-circle"></i><p class="share_text">Chat trên Web</p>
                                </a>
                                <a href="tel:0967681300" class="share_social_btn share_social_call d-lg-none">
                                    <i class="icon-phone-circle"></i>
                                    <span class="share_call_desc">Gọi điện thoại</span>
                                    <span class="share_call_phone">09.6768.1300</span>
                                </a>
                                <a href="sms:0967681300?body=Hãy gọi lại tư vấn cho tôi" rel="nofollow" class="share_social_btn d-lg-none" data-link="https://trangtrihomex/">
                                    <i class="icon-sms-circle"></i><p class="share_text">Nhắn tin SMS</p>
                                </a>
                                <a href="javascript:void(0);" class="btn-copy">
                                    <i class="icon-link-circle"></i><p class="share_text">Copy link</p>
                                </a>
                            </div>

                            <!-- <div class="type-product">
                                <span>Danh mục:</span> <a href="#">Đồng hồ</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sidebar sidebar-right d-none d-md-block">
            <div class="product-protected bg-w mr-n3">
                <ul class="addressFooter">
                    <li><i class="icon anm anm-shield" style="font-size: 21px;"></i><p>Sản phẩm được kiểm tra trước khi xuất kho</p></li>
                    <li><i class="icon anm anm-truck-line" style="font-size: 20px;"></i><p>Giao hàng nhanh trong ngày <b>Hà Nội</b> và 2-3 ngày với tỉnh thành khác</p></li>
                    <li><i class="icon anm anm-heart-l"></i><p>Miễn phí giao hàng với hóa đơn trên  <b>500.000 ₫</b></p></li>
                    <li><i class="icon anm anm-sync-ar"></i><p>Đổi trả miễn phí nếu có lỗi từ nhà sản xuất</p></li>
                </ul>
                <hr>
                <div class="open-hours">
                    <ul class="ml-4">
                        <li class="pl-1"><a href="https://trangtrihomex/bao-hanh" class="openlink">Chính sách bảo hành</a></li>
                        <li class="pl-1"><a href="https://trangtrihomex/huong-dan-mua-hang" class="openlink">Hướng dẫn mua hàng</a></li>
                        <li class="pl-1"><a href="https://trangtrihomex/payments" class="openlink">Quy định thanh toán</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="related-product grid-products bg-w col-12 order-2 order-md-1 mb-3">
            <div class="section-header">
                <h2 class="section-header__title h2">Sản phẩm tương tự</h2>
            </div>
            <div class="row mx-1 mx-n2"></div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 col-12 order-1 order-md-2">
            <div class="product-description bg-w mb-3 px-3 py-4 mx-n3">
                <div class="section-header">
                    <h2 class="section-header__title h2">Mô tả sản phẩm</h2>
                </div>
                <div class="description-inner"></div>
            </div>

            <div class="spr-reviews bg-w mx-n3 px-3 py-4 mb-3">
                <div class="section-header">
                    <h2 class="section-header__title h2">Đánh giá và nhận xét</h2>
                    <div class="section-header-score"><span class="score">0</span> / 5</div>
                    <p>( <span class="count">0</span> đánh giá )</p>
                </div>
                <div class="review-inner"></div>
            </div>

            <div class="spr-questions bg-w mx-n3 px-3 py-4 mb-3">
                <div class="section-header">
                    <h2 class="section-header__title h2">Câu hỏi về sản phẩm này</h2>
                </div>
                <div class="review-inner">
                    <h3>Chưa có câu hỏi nào</h3>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-12 sidebar sidebar-right order-3 order-md-3 px-0 pl-md-3">
            <div class="sidebar_widget bg-w px-3 py-3 mb-3">
                <div class="widget-title"><h2>Sản phẩm đã xem</h2></div>
                <div class="widget-content">
                    <div class="list list-sidebar-products list-seen-products">
                        <div class="grid"></div>
                    </div>
                </div>
            </div>

            <div class="sidebar_widget bg-w px-3 py-3 mb-3">
                <div class="widget-title"><h2>Sản phẩm nổi bật khác</h2></div>
                <div class="widget-content">
                    <div class="list list-sidebar-products list-other-products">
                        <div class="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--End Body Container-->

<div class="pswp slide-fullpage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
        </div>
    </div>
</div>