<div class="breadcrumbs-wrapper">
	<div class="container">
		<div class="breadcrumbs"><a href="/" class="openlink" title="Back to the home page">Trang chủ</a> <i class="fa fa-caret-right"></i> <span>Nhà phát hành</span> <i class="fa fa-caret-right"></i> <span>Thống kê doanh thu</span></div>
	</div>
</div>

<div class="container">
	<div class="row">
    	<!--Sidebar-->
    	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar">
        	<div class="sidebar_tags">
            	<div class="sidebar_widget categories">
                    <div class="widget-title"><h2>Thống kê</h2></div>
                    <div class="widget-content">
                        <ul class="sidebar_categories">
                        	<li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-pubdata" data-type="today">Hôm nay</a></li>
                            <li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-pubdata" data-type="yesterday">Hôm qua</a></li>
                            <li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-pubdata" data-type="thisweek">Tuần này</a></li>
                            <li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-pubdata" data-type="lastweek">Tuần trước</a></li>
                            <li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-pubdata" data-type="thismonth">Tháng này</a></li>
                            <li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-pubdata" data-type="lastmonth">Tháng trước</a></li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar_widget categories">
        			<!-- <div class="widget-title"><h2>Số dư: 200.000</h2></div> -->
        			<div class="widget-content">
        				<ul class="sidebar_categories">
                        	<li class="lvl-1"><a href="#" class="site-nav lvl-1">Hướng dẫn</a></li>
                            <li class="lvl-1"><a href="#" class="site-nav lvl-1">Rút tiền</a></li>
                            <li class="lvl-1"><a href="javascript:void(0);" class="site-nav lvl-1 btn-logout">Đăng xuất</a></li>
                        </ul>
        			</div>
                </div>
            </div>
        </div>
        <!--End Sidebar-->
        <!--Main Content-->
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
            <h3 class="text-center pub-fromto">15/06/2020 - 20/06/2020</h3>
            <div class="store-info style1 store-info-section small-pd">
			    <div class="container">
			        <div class="row">
			            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
			                <ul class="display-table store-info style4 thongke-pub">
			                    <li class="display-table-cell">
			                        <i class="fa fa-hand-pointer-o" aria-hidden="true" style="color: #3F51B5;"></i><h5>Lượt click</h5> <span class="sub-text" data-type="0"> <span>_</span></span> <!-- <span class="percent-down"><i class="fa fa-long-arrow-down" aria-hidden="true"></i>10%</span> -->
			                    </li>
			                    <li class="display-table-cell">
			                        <i class="fa fa-calendar-plus-o" aria-hidden="true" style="color: #00BCD4;"></i><h5>Phát sinh</h5> <span class="sub-text" data-type="1"> <span>_</span></span>
			                    </li>
			                    <li class="display-table-cell">
			                        <i class="fa fa-calendar-times-o" aria-hidden="true" style="color: #F44336;"></i><h5>Bị hủy</h5> <span class="sub-text" data-type="2"> <span>_</span> </span>
			                    </li>
			                    <li class="display-table-cell">
			                    	<i class="fa fa-user-plus" aria-hidden="true" style="color: #00BCD4;"></i><h5>Người mới</h5> <span class="sub-text" data-type="3"> <span>_</span> </span>
			                    </li>
			                    <li class="display-table-cell">
			                        <i class="fa fa-handshake-o" aria-hidden="true" style="color: #009688;"></i><h5>Thụ động</h5> <span class="sub-text" data-type="4"> <span>_</span> </span>
			                    </li>
			                    <li class="display-table-cell">
			                        <i class="fa fa-dollar" aria-hidden="true" style="color: #FF9800;"></i><h5>Tạm tính</h5> <span class="sub-text" data-type="5"> <span>_</span> </span>
			                    </li>
			                </ul>
			            </div>
			        </div>
			    </div>
			</div>
			<ul style="list-style: none;">
				<li><b>Lượt Click</b>: Tổng lượt click vào link mà bạn đã chia sẻ. Xem cách lấy link hợp lệ <a href="#">TẠI ĐÂY</a></li>
				<li><b>Phát Sinh</b>: Hoa hồng ước lượng trên đơn hàng chứa mã giới thiệu của bạn.</li>
				<li><b>Bị Hủy</b>: Hoa hồng bị hủy do đơn hàng bị hủy. Hãy hạn chế thông số này.</li>
				<li><b>Người Mới</b>: Người mới được bạn mời tham gia chương trình tiếp thị liên kết của Nhẹ hều. Mời càng nhiều hoa hồng càng cao. Xem chi tiết <a href="#">TẠI ĐÂY</a></li>
				<li><b>Thụ Động</b>: Hoa hồng mà bạn được nhận dựa trên phần trăm doanh thu của những người mà bạn đã mời.</li>
				<li><b>Tạm Tính</b>: Tổng hoa hồng ước tính mà bạn sẽ nhận được.</li>
			</ul>
        </div>
        <!--End Main Content-->
    </div>			
</div>